/* CSS Document */

.quick-access,#case-study,#promo-box.style2{
	background:#59da7a;
}


.btn.btn-default:hover,.dl-menuwrapper button,.dl-menuwrapper button:hover, .dl-menuwrapper button.dl-active, .dl-menuwrapper ul,.navbar-nav > li.active,.navbar-default ul.dropdown-menu,.xv-menuwrapper .dl-menu > li.active,.xv_slider,.pagination li a.active, .pagination li.active a,.portfolio-detail .folio-prev, .portfolio-detail .folio-next,.border-blue,.article-post .readmore:before,.tags li a, .widget-tags a,.blog-meta time:after,.team .social li a:hover,.profile-timeline .box-icon,.contact-us-info h4:after,.contact-us-info button,.progress-bar,.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,.popover,.column-head,.pricing-column a,.shop-product .price-tag:before,.shop-product .hover li,footer:before{
	background-color:#59da7a;
}

a,h3,.xv-menuwrapper .dl-menu > li:hover > a:after, .xv-menuwrapper .dl-menu > li.megamenu.active >a:after,.skill span,.pagination li a,.article-post .post-info a,.article-post .readmore,.comment a,.team h6,.profil-detail h2 span,#promo-box h3,#blog-latest .post-info a, #blog-latest p a,.widgets-area i, .widgets-area h3 span,.latest-tweet .tweet-wrap:before,.latest-tweet .timestamp,.contact-us-info i,.panel-title > a > span,.tabs-vertical .nav-tabs > li.active a,.tabs-vertical .nav-tabs > li.active > a > span,footer a:hover,.testimonial-slider-coltrols li.active:before,.recent-post a,.article-post.style-home h1 a:hover,.article-post.style-home .article-meta li a:hover{
	color:#59da7a;
}

.getintouch li span,.quick-access .social li a{
	color:#fff;
}
.testimonial-slider-coltrols li.active{
	border-color:#59da7a;
}
 .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,.tabs-vertical .nav-tabs > li.active:last-child a,.tabs-vertical .nav > li > a:hover, .tabs-vertical .nav > li > a:focus{
	 border-right-color:#59da7a;
}
.profile-timeline,.popover.left > .arrow:after{
	border-left-color:#59da7a;
}
.profile-timeline .time-box h2,#blog-latest p a{
	border-bottom-color:#59da7a;
}
.case-nav div{
	border-color:#fff;
}
.case-nav div{
	color:#fff;
}
/*RGBA*/

.project .hover{
	background:#59da7a;
	background:rgba(89,218,122,0.9)
}

.quick-access .social li a{
	border-color:#fff;
	border-color:rgba(255,255,255,0.5);
}










